**/copy*.bat
*$py.class
*.aof
*.cover
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pid
*.pot
*.py,cover
*.py.cover
*.py[cod]
*.py[codz]
*.rdb
*.sage.py
*.so
*.spec
.Python
.abstra/
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.envrc
.hypothesis/
.idea/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint.xml # see https://community.sonarsource.com/t/is-the-file-idea-idea-idea-sonarlint-xml-intended-to-be-under-source-control/121119
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.streamlit/secrets.toml
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
__marimo__/
__pycache__/
__pypackages__/
activemq-data/
atlassian-ide-plugin.xml
build/
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
fabric.properties
htmlcov/
http-client.private.env.json
instance/
ipython_config.py
lib/
lib64/
local_settings.py
marimo/_lsp/
marimo/_static/
mnesia/
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
rabbitmq-data/
rabbitmq/
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/